.brand-centered {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  
  
  
  
  /*demo styling only*/
  .navbar-brand {
    padding: 0px; /* remove bootstrap padding on floated image containers -  */ 
  }
  .navbar-brand>img {
    height: 100%;
    width: auto;
    padding: 7px 14px 7px 0; /* padding for image ... text needs no padding */
  }
  
  
  .navbar-toggle {
    z-index: 1;
  }